{% extends "_base.html" %}
{% block content %}
    <div class="card">
        <form method="POST">
            <div class="">
                <h4>Delete image {{ object.created }}</h4>
                {% csrf_token %}
                <button class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                        type="submit">
                    Delete
                </button>
                <a class="inline-flex items-center rounded-md border border-transparent bg-indigo-100 px-4 py-2 text-sm font-medium text-indigo-700 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                   href="{% url 'list' %}">Back</a>
            </div>
        </form>
    </div>
{% endblock content %}
